

<ul>
    <li>
        <%= link_to "Moedas", coins_path  %>
    </li>
    <li>
        <%= link_to "Tipos de Mineração", mining_types_path  %>
    </li>
        Renderizado por _menu.html, eu sou uma partial!
    </li>
    
</ul>
