
<div class="jumbotron">
    <h1 class="display-4">Seja bem vindo!</h1>
    <p class="lead">Este aplicativo é o Crypto Wallet, cadastre suas moedas!</p>
    <hr class="my-4">
    <p>O idioma usado nessa aplicacao é: <strong><%= t("actual_locale") %></p></strong>
    <p><strong>A data de hoje é </strong> <%= l(Date.today) %> </p>
    
    <p>Para começar selecione um dos botões</p>

    <%= render "menu"%>
</div>
</div>




